# OS generated
.DS_Store

# phpstorm
.idea/*

# Composer
.composer


# Sass
.sass-cache

# Grav Specific
grav-admin/backup/*
!backup/.*
grav-admin/cache/*
!cache/.*
grav-admin/assets/*
!assets/.*
grav-admin/logs/*
!logs/.*
grav-admin/images/*
!images/.*
grav-admin/user/accounts/*
!user/accounts/.*
grav-admin/user/data/*
!user/data/.*
grav-admin/user/plugins/*
!user/plugins/.*
grav-admin/user/themes/*
!user/themes/.*
grav-admin/user/localhost/config/security.yaml
grav-admin/user/config/security.yaml
grav-admin/vendor/*

.sass-cache
composer.lock
cache/*
assets/*
logs/*
images/*
user/data/*

# All but user folder
.htaccess
CHANGELOG.md
CONTRIBUTING.md
LICENSE.txt
README.md
backup/
bin/
composer.json
index.php
robots.txt
system/
tmp/
vendor/
webserver-configs/

# Environments
.env
.gravenv

# other
grav-admin/.github
grav-admin/.phan